/* Base styles for the entire app */
body {
  background-color: rgb(193, 67, 130);
  color: rgb(47, 42, 42);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for cards */
.cards {
  background-color: #f3f3f3;
}

/* Loader styles */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid hsla(0, 0%, 6%, 0.593);
  border-radius: 50%;
  width: 60px; /* Smaller size for mobile */
  height: 60px; /* Smaller size for mobile */
  animation: spin 2s linear infinite;
}

.header-content {
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive styles for small devices */
@media (max-width: 375px) { /* Target iPhone SE and similar devices */
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .loader {
    width: 50px; /* Even smaller size for mobile */
    height: 50px;
  }

  .episode {
    margin: 5px;
    padding: 10px;
    font-size: 12px; /* Smaller font size */
  }

  button {
    font-size: 14px; /* Adjust button font size */
    padding: 8px 12px; /* Adjust button padding */
  }

  input[type="text"] {
    font-size: 14px; /* Adjust input font size */
    padding: 8px;
  }
}
