

/* Reset some default styles */
body, h1, h2, h3, p, img {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  position: relative; /* Ensure the container is positioned relatively */
}

.swiper-slide {
  text-align: center;
  position: relative; /* Ensure the slide is positioned relatively */
}

/* Customize the size of the image to be a quarter */
.swiper-slide img {
  max-width: 25%; /* Adjust the percentage as needed */
  height: auto;
}

/* Center the swiper navigation buttons */
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 0; /* Adjust as needed */
}

.swiper-button-prev {
  left: 0; /* Adjust as needed */
}

.episodes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.episode {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
}

/* Ensure the audio controls fit inside the episode */
.episode audio {
  width: 100%;
}

.episode h3 {
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

